.overlay {
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 50px;
  top: 0px;
  z-index: 2;
}

.home-menu-about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  z-index:1;
}

.home-menu-about-us a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin: 0 10px;
}

.home-menu-about-us a:hover {
  text-decoration: underline;
}

.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .frame .div {
    width: 1154px;
    height: 2046px;
    position: relative;
  }

  .frame .overlap-group {
    height: 1939px;
    top: 107px;
    position: absolute;
    width: 1154px;
    left: 0;
  }
  
  .frame .rectangle {
    position: absolute;
    width: 1154px;
    height: 665px;
    top: 2px;
    left: 0;
    background-color: #ffffff;
  }

  .frame .image {
    width: 1154px;
    height: 665px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }

  .frame .text-wrapper {
    position: absolute;
    height: 165px;
    top: 315px;
    left: 232px;
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Inknut Antiqua-Regular";
    font-weight: 400;
    color: #000000;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .rectangle-2 {
    position: absolute;
    width: 1154px;
    height: 1274px;
    top: 665px;
    left: 0;
    background-color: #6e0202;
  }
  
  .frame .polygon {
    position: absolute;
    width: 109px;
    height: 68px;
    top: 622px;
    left: 523px;
  }
  
  .frame .img {
    position: absolute;
    width: 511px;
    height: 376px;
    top: 1155px;
    left: 588px;
    object-fit: cover;
  }
  
  .frame .OPENING-HOURS-mon {
    position: absolute;
    height: 74px;
    top: 1313px;
    left: 81px;
    font-family: "Alice-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .image-2 {
    position: absolute;
    width: 511px;
    height: 376px;
    top: 736px;
    left: 58px;
  }
  
  .frame .at-ethiopia {
    position: absolute;
    width: 411px;
    height: 317px;
    top: 764px;
    left: 660px;
    font-family: "Alice-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .frame .p {
    position: absolute;
    height: 37px;
    top: 1760px;
    left: 328px;
    font-family: "Alice-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-2 {
    position: absolute;
    height: 37px;
    top: 1855px;
    left: 508px;
    font-family: "Alice-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .overlap {
    height: 107px;
    top: 0;
    background-color: #6f0303;
    position: absolute;
    width: 1154px;
    left: 0;
  }
  
  .frame .home-menu-about-us {
    position: absolute;
    height: 46px;
    top: -12px;
    left: 132px;
    font-family: "Alice-Regular";
    font-weight: 400;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .frame .rectangle-3 {
    position: absolute;
    width: 242px;
    height: 50px;
    top: 27px;
    left: 750px;
  }

  .home-menu-about-us .menu-link {
    text-decoration: none;
    color: white;
    font-weight: regular;
    font-size: 40px;
    margin: 0 10px;
  }

  .home-menu-about-us .menu-link:hover {
    text-decoration: underline;
  }